<div class="note">
  <input class="note-title" type="text" value="{{this.note()?.title}}" [readOnly]="true">
  <span>{{this.note()?.createdAt | date:'fullDate' }}</span>
  <textArea class="note-content" [readOnly]="true">{{this.note()?.content}}</textArea>
  <div class="note-btns">
    <button class="edit-btn" type="button" (click)="onEdit()">edit</button>
    <button class="delete-btn" type="button" (click)="onDelete()">delete</button>
  </div>
</div>

@if(isEditMode()){
  <app-backdrop (close)="onCloseForm()" />

<form class="edit-form" [formGroup]="noteForm" (ngSubmit)="onSubmit()" #form>
  <label class="form-label">note title</label>
  <input class="form-input" type="text" formControlName="title">
  <label class="form-label">note description</label>
  <textarea class="form-textarea" rows="10" formControlName="description"></textarea>
  <div class="form-btns">
    <button id="cancel-btn" type="button" (click)="onCloseForm()">cancel</button>
    <button id="save-btn" type="submit">save</button>
  </div>
</form>
}
