.space {
  width: 100vw;
  height: 0.5rem;
}

.note-item {
  height: 4rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.note-item:hover {
  background-color: #252525;
  color: wheat;
}

.add-note-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background: #edf;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-note-btn:hover {
  color: #262626;
}

.add-note-btn img {
  width: 1.5rem;
  height: 1.5rem;
}


.add-note-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  width: 80vw;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 150;
  flex-direction: column;
  background-color: #252525;
  color: wheat;
}

.form-label {
  margin-top: 0.5rem;
}

.form-input {
  line-height: 1.5rem;
  font-size: 1rem;
}

.form-textarea {
  resize: none;
  line-height: 1.5rem;
  font-size: 1rem;
}

.form-btns {
  display: flex;
  justify-content: center;
}

#cancel-btn {
  margin-right: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 4rem;
  background-color: #a00c0c;
  color: wheat;
  border: 1px solid wheat;
  border-radius: 6px;
}

#create-btn {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 4rem;
  background-color: #175b33;
  color: wheat;
  border: 1px solid wheat;
  border-radius: 6px;
}
