<form class="task-form" [formGroup]="oldTaskForm" (ngSubmit)="onCompleteTask()">
  <p class="task-title">{{this.task()?.title}}</p>
  <span>created: {{this.task()?.createdAt | date:'fullDate' }}</span>
  <span>execution date: {{this.task()?.execDate | date:'fullDate' }}</span>
  <textarea class="task-content" [readOnly]="true">{{this.task()?.content}}</textarea>
  <label id="label-notes">notes</label>
  <textarea class="task-notes" formControlName="notes">{{this.task()?.notes}}</textarea>
  @if(this.task()?.isRepeat){
    <p>next: {{this.task()?.interval}} add a function to calculate next date</p>
  }
  @if(task()?.status === 'progress'){
  <div class="task-end-btns">
    <button id="cancel-btn" type="button" (click)="onCancelTask()">cancel</button>
    <button id="save-btn" type="submit">done</button>
  </div>
  }
</form>

<app-fab-menu (action)="onFabAction($event)" />

@if(isEditMode()){
<app-backdrop (close)="onCloseForm()" />

<form class="edit-form" [formGroup]="editTaskForm" (ngSubmit)="onEditTask()" #editForm>
  <label class="form-label">task title</label>
  <input class="form-input" type="text" formControlName="title">
  <label class="form-label">task description</label>
  <textarea class="form-textarea" rows="10" formControlName="content"></textarea>
  <div class="form-inputs">
    <div class="form-repeat-input">
      <label class="form-label">repeat</label>
      <input class="form-input-checkbox" type="checkbox" formControlName="repeat">
    </div>
    <div class="form-interval-input">
      <label class="form-label">interval days</label>
      <input class="form-input-number" type="number" formControlName="interval">
    </div>
  </div>
  <label class="form-label">task date</label>
  <input class="form-input-date" type="date" formControlName="execDate">
  <div class="form-btns">
    <button id="cancel-btn" type="button" (click)="onCloseForm()">cancel</button>
    <button id="save-btn" type="submit">save</button>
  </div>
</form>
}

